@model GlassEcommerce.Models.Product
@{
    ViewBag.Title = "PDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!--<h2>Product Details</h2>
<div>
    <h3>@Model.Product_name</h3>
    <p>Price: $@Model.Product_price</p>
    <p>Description: @Model.Product_desc</p>
    <img src="@Url.Content(Model.Product_pic)" class="img-fluid" alt="">-->

<!--</div>-->



<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-shop pt-lg-4 pt-3">
            <div class="row">
                <div class="col-lg-4 single-right-left ">
                    <div class="grid images_3_of_2">
                        <div class="flexslider1">

                            <ul class="slides">
                                <li data-thumb="@Url.Content(Model.Product_pic)">
                                    <div class="thumb-image"> <img src="@Url.Content(Model.Product_pic)" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                </li>
                                @*<li data-thumb="images/d1.jpg">
                                    <div class="thumb-image"> <img src="@Url.Content(Model.Product_pic)" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                </li>
                                <li data-thumb="images/d3.jpg">
                                    <div class="thumb-image"> <img src="@Url.Content(Model.Product_pic)" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                </li>*@
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 single-right-left simpleCart_shelfItem">
                    <h3>@Model.Product_name (Black)</h3>
                    <p>
                        <span class="item_price">$ @Model.Product_price</span>
                        <del>$1,699</del>
                    </p>
                    <div class="rating1">
                        <ul class="stars">
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="description">
                        <h5>Check delivery, payment options and charges at your location</h5>
                        <form action="#" method="post">
                            <input class="form-control" type="text" name="Email" placeholder="Please enter..." required="">
                            <input type="submit" value="Check">
                            <h5>@Model.Product_desc</h5>
                        </form>
                    </div>
                    <div class="color-quality">
                        <div class="color-quality-right">
                            <h5>Quality :</h5>
                            <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                                <option value="null">5 Qty</option>
                                <option value="null">6 Qty</option>
                                <option value="null">7 Qty</option>
                                <option value="null">10 Qty</option>
                            </select>
                        </div>
                    </div>
                    <div class="occasional">
                        <h5>Types :</h5>
                        <div class="colr ert">
                            <label class="radio"><input type="radio" name="radio" checked=""><i></i> Irayz Butterfly(Black)</label>
                        </div>
                        <div class="colr">
                            <label class="radio"><input type="radio" name="radio"><i></i> Irayz Butterfly (Grey)</label>
                        </div>
                        <div class="colr">
                            <label class="radio"><input type="radio" name="radio"><i></i> Irayz Butterfly (white)</label>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="occasion-cart">
                        <div class="googles single-item singlepage">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="googles_item" value="Farenheit">
                                <input type="hidden" name="amount" value="575.00">
                 

                            </form>

                                <button onclick="window.location.href = '@Url.Action("AddToCart", "Products", new { id = Model.Product_id })';" class="googles-cart pgoogles-cart">Add to Cart</button>

                        </div>
                    </div>
                    <ul class="footer-social text-left mt-lg-4 mt-3">
                        <li>Share On : </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-twitter"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-google-plus-g"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-linkedin-in"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fas fa-rss"></span>
                            </a>
                        </li>

                    </ul>

                </div>
                <div class="clearfix"> </div>
                <!--/tabs-->
                <div class="responsive_tabs">
                    <div id="horizontalTab">
                        @*<ul class="resp-tabs-list">
                            <li>Description</li>
                            <li>Reviews</li>
                            <li>Information</li>
                        </ul>*@
                        <div class="resp-tabs-container">
                            <!--/tab_one-->
                            <div class="tab1">

                                <div class="single_page">
                                    <h6>About Our Product</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie
                                        blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore
                                        magna aliqua.
                                    </p>
                                    <p class="para">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie
                                        blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore
                                        magna aliqua.
                                    </p>
                                </div>
                            </div>
                            <!--//tab_one-->
                            <div class="tab2">

                            </div>
                    
                        </div>
                    </div>
                </div>
                <!--//tabs-->

            </div>
        </div>
    </div>
</section>










